

body{
    background-color: darkblue;
    color: aliceblue;
    margin: 0px;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: inherit;
}

h1{
    font-family: 'Bebas Neue';
    font-size: 100px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 25px;
    border-width: 10px 0px 10px 0px;
    border-style: solid;
    margin: 0.05em 0 0;
    background-color: hsl(199deg, 100%, 47%);
    border-color: hsl(199, 84%, 63%);
}

.Page-Header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 75%;
    padding: 15px;
    
}
.Page-Body{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    box-sizing: inherit;
    width: 100%;
    height: 750px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0%;
    border-width: 10px 0px 10px 0px;
    border-style: solid;
    border-color: hsl(199, 84%, 63%);
}

.memeDiv{
    text-align: center;
    font-size: 5.5vb;
    margin: auto;
    /* flex-direction: column; */
}
.memeImage{
    width: inherit;
    height: inherit;
    object-fit: cover;

}

.topMemeText, .bottomMemeText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.topMemeText{
    position: relative;
    top:10%;
}
.bottomMemeText{
    position: relative;
    bottom:12%;
}

.Page-Footer{
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    padding: 15px;
}
form{
    font-family: 'Bebas Neue';
    font-size: 20px;
}

input{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
}

button{
    font-family: 'Bebas Neue';
    font-size: 120%;
    width: 200px;
    padding: 10px;
    margin: 8px 0;
    cursor: pointer;
    background-color: aqua;
    border-radius: 5px;
    border-color:aquamarine;
    border-width: 0px 5px 5px 0px;
}

.pushable {
    background: hsl(199deg 100% 32%);
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 5px;
    font-size: 1.25rem;
    background: hsl(199deg, 100%, 47%);
    color: white;
    transform: translateY(-6px);
  }
  .pushable:active .front {
    transform: translateY(-2px);
  }